<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.12.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="NetSword.Common.ICSharpCode.SharpZipLib" version="0.84.0" targetFramework="net461" developmentDependency="true" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
</packages>